<%= form_for @review do |f| %>

   <% if @review.errors.any? %>
      <div class="errors">
         <% @review.errors.full_messages.each do |e| %>
            <ul>
               <li><%= e %></li>
            </ul>
         <% end %>
      </div>
   <% end %>

   <div>
      <%= f.label :title, "Title: " %>
      <%= f.text_field :title %>
   </div>

   <div>
      <%= f.label :body, "Body: " %>
      <%= f.text_area :body %>
   </div>

   <div>
      <%= f.label :score, "Rating: " %>
      <%= f.number_field :score, in: 1..10, step: 1 %>
   </div>

   <div>
      <%= f.submit "Update Review"%>
   </div>

<% end %>