<%= content_for :page_title, @review.title + " - " %>

<h1><%= @review.title %></h1>
<%= image_tag(@review&.review_image_url) if @review&.review_image.present? %>
<p>Review Posted By: <%= link_to @review.user.full_name, user_path(@review.user) %></p>
<% if @review.bookmarks.where(user: @current_user).any? %>
   <h3><%= link_to "Un Bookmark", review_bookmark_path(@review), data: { turbo_method: :delete } %></h3>
<% else %>
   <h3><%= link_to "Bookmark", review_bookmark_path(@review), data: { turbo_method: :post } %></h3>
<% end %>

<h3>Restaurant Name: <%= @review.restaurant %></h3>

<h3>Rating: <%= @review.score %>/10</h3>

<% if @review.phone_number.present? %>
   <h3>Phone Number: <%= @review.phone_number %></h3>
<% end %>

<% if @review.ambiance.present? %>
   <h3>Ambiance: <%= @review.ambiance %></h3>
<% end %>

<% if @review.price.present? %>
   <h3>Price : $<%= @review.price %></h3>
<% end %>

<% if @review.cuisine.present? %>
   <h3>Cuisine: <%= @review.cuisine %></h3>
<% end %>

<p><%= simple_format @review.body %></p>
<% if (@review.user ==  @current_user) %>
   <%= link_to "Edit Review", edit_review_path(@review) %>
   <%= link_to "Delete Review", review_path(@review), data: {turbo_method: :delete, turbo_conform: "Are you sure?"} %>
<% end %>
<% if @review.bookmarks.any? %>
   <h3>Bookmarked By....</h3>
   <ul>
      <% @review.bookmarks.each do |bookmark| %>
      <li><%= link_to bookmark.user.full_name, user_path(bookmark.user) %></li>
      <% end %>
   </ul>
<% end %>
<hr>
<h3>Add Comment</h3>
<div>
   <%= simple_form_for [@review, Comment.new] do |f| %>
      <%= f.input :commenter %>
      <%= f.input :comment %>
      <%= f.button :submit %>
   <% end %>
</div>
<% @comments.order("updated_at desc").each do |comment| %>
   <div>
      <h3><%= comment.commenter%> (Posted at: <%= time_ago_in_words comment.updated_at%> ago)</h3>
      <p><%= comment.comment%></p>
      <p>Posted By: <%= link_to comment.user.full_name, user_path(comment.user) %>&#160;&#160;&#160;</p>
      <% if (comment.user ==  @current_user) %>
         <%= link_to "Edit Comment", edit_review_comment_path(@review, comment) %>
         <%= link_to "Delete", review_comment_path(@review, comment), data: {turbo_method: :delete} %>
      <% end %>
   </div>
<% end %>
<%= link_to "Add Comment", new_review_comment_path(@review) %>