<!DOCTYPE html>
<html>
  <head>
    <title>Bien</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <header>
      <nav>
        <h1>
          <%= link_to root_path do %>
            <%= image_tag "bien-logo.svg"%>
          <% end %>
        </h1>
      </nav>
      <nav>
        <%= link_to "Add Review", new_review_path %>
      </nav>
    </header>

    <div class= "container">
      <%= yield %>
    </div>

    <footer>
     Copyright &copy; 2022 - Bien Reviews
    </footer>

  </body>
</html>
